@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat-Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
body{
    padding: 0 1px;
    min-height: 100vh;
    overflow-x: hidden;
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 1;
    transition: 0.5s ease-in-out;
    animation: animBg 2s ease forwards;
}
@keyframes animBg {
    to{
        opacity: 0;
        display: none;
    }            
}
button{
    text-transform: uppercase;
    outline: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .9s ease; /*Revoir*/
    background: transparent;
}
button:hover{
    background: #fff;
    color: #000;
    border: 1px solid;
    transform: rotate(5deg);
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    transition: 0.5s;
    color: #030303;
}
h5{
    text-transform: uppercase;
    font-size: .9rem;
}
body{
    text-align: center;
    margin: 0 auto;
}
 
/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */
nav{
    /* max-width: 900px; */
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    transition: .5s ease-in-out;
    background: #ffffff;
    z-index: 1000;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    text-transform: uppercase;
    font-size: .78rem;
    font-weight: 900;
    padding: 15px 4px;
    transition: .5s ease-in-out;
}
nav ul li:hover{
    background: #000;
}
nav ul li:hover a{
    color: #e4e4e4;
}
.active{
    background: #000000bd;
}
.active a{
    color: #fff;
}
#language{
    background: grey;
    padding: 10px;
    border-radius: 150px;
    transition: 0.5s;
}
#language:hover{
    background: #000;
    color: #e4e4e4;
}
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
header{
    background: url(./assets/img/bg.jpg) fixed center/cover;
    transition: .4s ease-in-out;
}
.main-header{
    padding: 60px;
}
#logo img{
    width: 60%;
    opacity: 0;
    transform: scale(0);
    transition: 1.3s ease-in;
}
#logo img.imgAnim{
    opacity: 1;
    transform: scale(1);
}
.main-header h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    margin: 20px 0 40px;

    position: relative;
    top: 200px;
    opacity: 0;
    transition: 2s ease-in;
}
.main-header h1.titleHeader{
    opacity: 1;
    top: 0;
}
.main-header .btnHeader{
    padding: 10px 12px;

    position: relative;
    top: 100px;
    opacity: 0;
    transition: 3s ease-in; /*Revoir*/
}
.main-header .btnHeader:hover{
    transform: none;
    transition: .7s ease-in-out;/*Revoir*/
}
.btnHeader.btnAnim{
    top: 0px;
    opacity: 1;
}
.main-header button i{
    margin: 0 7px;
}
.header-text{
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
}
.header-text p{
    font-weight: 700;
}
.icon-part{
    background: #000000dc;
    padding: 65px 0;
    color: #f5f5f5;
}
.icon-part .icon-part-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}
.list-icon-part .lip-logo{
    margin-bottom: 30px;
    transition: 1s ease;
}
.list-icon-part .lip-logo:hover{
    transform: rotateY(360deg);
}
.list-icon-part h3{
    text-transform: uppercase;
    font-weight: 700;
}
.list-icon-part p{
    width: 80%;
    margin: 10px auto 30px;
    font-size: .9rem;
}
.list-icon-part button{
    padding: 9px 32px;
}
.news-part{
    background: #e4e4e4;
    padding: 70px 0;
}
.header-news{
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
}
.header-news .left-part h2{
    text-transform: uppercase;
    font-weight: 100;
}
.header-news .left-part p{
    font-size: .9rem;
    font-weight: 700;
}
.header-news .right-part button{
    padding: 9px 30px;
    border: 1px solid #000;
    color: #000;
}
.header-news .right-part button:hover{
    background: #000;
    color: #f5f5f5;
}
.header-news .right-part button i{
    margin-left: 4px;
}
.main-news{
    padding: 50px 0;
}
.main-news-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.main-news-container > div{
    width: 30%;
    text-align: left;
    position: relative;

    top: 100px;
    opacity: 0;
    transition: 1s ease-in;
}
.main-news-container > div.divAnim{
    top: 0;
    opacity: 1;
}
.mn-pic{
    object-fit: cover;
    margin-bottom: 20px;
}
.mn-pic img{
    width: 100%;
    border-radius: 3px;
    transition: 1s ease;
}
.mn-pic img:hover{
    transform: rotate(10deg);
}
.main-news-container > div p{
    font-size: .9rem;
    margin: 20px 0 40px;
}
.main-news-container > div .link{
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-size: .8rem;
}
.main-news-container > div .link a i{
    margin-left: 4px;
}
.contact{
    padding: 70px 0;
}
.contact-container{
    max-width: 900px;
    margin: 0 auto;
}
.contact-list{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 40px;
}
.contact-list::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(7%);
    width: 90%;
    height: 2px;
    background: #f0f0f0fd;
}
.contact-list{
    text-align: left;
}
.list{
    width: 40%;
}
#contact-img{
    object-fit: cover;
    text-align: left;
    height: 200px;
    width: 170px;
}
#contact-img img{
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
}
#contact-img img:hover{
    transform: rotateY(360deg)
}
.contact-list .list h5{
    text-transform: uppercase;
}
.contact-list .list ul li{
    margin: 10px 0;
}
.contact-list .list ul li a{
    font-size: .7rem;
    font-weight: 700;
}
.contact-list .list p{
    font-size: .8rem;
    font-weight: 700;
    width: 78%;
}
.contact-list .list:nth-child(3) p{
    margin: 10px 0;
}
.contact-list .list a{
    font-size: .8rem;
    font-weight: 700;
}
.contact-list .list h6{
    margin: 10px 0;
}
.network{
    margin-top: 30px;
}
.footer-logos i{
    margin: 4px 10px 0 0;
    font-size: .9rem;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.footer-logos i:hover{
    transform: rotate(360deg);
}
.contact-list .copyright{
    margin-top: 20px;
}
.contact-medias{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 40px;
}
.medias-text{
    text-align: left;
}
.medias-text h3{
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: 10px;
}
.medias-text P{
    font-size: .88rem;
    font-weight: 700;
}
.medias-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.medias-logos span img{
    width: 60px;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.medias-logos span img:hover{
    transform: rotate(360deg);
}

footer{
    background-color: #000000dc;
    padding: 20px 0;
}
footer h3{
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    padding: 10px 0;
}
footer ul{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul li img{
    width: 50px;
    transition: 1s ease-in-out;
    cursor: pointer;
}
footer ul li img:hover{
    transform: rotate(360deg);
}

/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */
/* SIDEBAR */
#btn{
    transition: 0.7s ease-in-out;
}
.toggle-btn {
    position: fixed;
    top: 10px;
    left: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: none;
    z-index: 10000;
  }
  .togglebtn{
    left: 244px;
  }

  .toggle-btn span {
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background: #f5f5f5;
    display: block;
    margin-top: 4px;
    transition: 0.3s ease;
  }

/* RESPONSIVE RESPONSIVE RESPONSIVE */
/* RESPONSIVE RESPONSIVE RESPONSIVE */
/* RESPONSIVE RESPONSIVE RESPONSIVE */
@media screen and (max-width: 800px){
    nav ul li{
        font-size: .7rem;
    }
    .header-text p{
        font-size: .9rem;
    }
}
@media screen and (max-width: 730px){
    .list-icon-part button{
        font-size: .6rem;
    }
}
@media screen and (max-width: 790px){
    .icon-part .icon-part-container{
        flex-direction: column;
        gap: 40px;
    }
}
@media screen and (max-width: 700px){
    .contact{
        display: none;
    }
}
@media screen and (max-width: 697px){
    /* SIDEBAR */
    /* SIDEBAR */
    /* SIDEBAR */
    /* SIDEBAR */
    nav{
        position: relative;
        height: 100%;
        top: 0 !important;
    }
    nav ul{
        flex-direction: column;

    }

    nav ul li{
        width: 100%;
        border-radius: 4px;
        margin: 10px 0;
    }
    
    #sidebar {
        position: absolute;
        width: 230px;
        height: 100%;
        top: 2px;
        left: -240px;
        transition: 0.5s ease-out;
        z-index: 4;
    }
    #sidebar.showsidebar{
        position: fixed;
        left: 0;
    }
    .toggle-btn{
        display: block;
    }
    .showsidebar span{
        position: absolute;
      }
      .showsidebar span:nth-child(1){
        transform: rotate(45deg);
      }
      .showsidebar span:nth-child(2){
        opacity: 0;
      }
      .showsidebar span:nth-child(3){
        transform: rotate(-45deg);
      }
      .showsidebar ~ #contents{
        opacity: 0.4;
      }
}
@media screen and (max-width: 630px){
    #logo img{
        width: 100%;
    }
    .main-header h1{
        font-size: 0.8rem;
    }
    .main-header .btnHeader{
        font-size: 0.7rem;
    }
    
    .icon-part .icon-part-container{
        flex-direction: column;
    }
    .list-icon-part{
        margin: 30px 0;
    }
    .list-icon-part .lip-logo img{
        width: 50%;
    }
    .list-icon-part button{
        width: 50%;
        font-size: .7rem;
    }
    .main-news{
        padding: 30px 0;
    }
    .news-part{
        padding: 0;
    }
    .header-news{
        grid-template-columns: none;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
    }
    .header-news .left-part p{
        margin: 10px 0;
    }
    .main-news-container{
        flex-direction: column;
        align-items: center;
    }
    .main-news-container > div{
        width: 90%;
        margin: 20px 0;
    }
    .mn-pic{
        width: 100%;
    }
    .mn-pic img{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    footer{
        padding: 20px 30px;
    }
    footer h3{
        font-size: .9rem;
    }
    footer ul{
        flex-wrap: wrap;
        gap: 10px;
    }
    footer ul li img{
        width: 40px;
    }
    .toggle-btn span{
        width: 44px;
        height: 7px;
    }
}